body{
    background-color: black;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
}
#blue{
    background-color: blue;
}
h1{
    color: azure;
    text-align: center;
}
h2{
    color: azure;
    text-align: center;
}
.color{
  display: flex;
  justify-content: center; 
  gap: 15px;
  margin: 20px 0;
}
.button{
    height: 50px;
 width: 50px;
  display: flex;
  
}